body {
  background-color: rgb(74, 160, 219);
}

form {
  display: flex;
  /* grid-template-columns: 330px 330px 330px; */
}
fieldset {
  border: none;
}
.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

.column3 {
  grid-area: column3;
}

:focus {
  border-color: gray;
}

label {
  display: block;
  font-size: 0.65em;
  font-family: sans-serif;
  color: white;
  padding-bottom: 1px;
  margin: 10px;
  text-transform: uppercase;
}

input,
textarea,
select {
  outline: none;
  background: transparent;
  border: 1px solid white;
  color: white;
  height: 30px;
  width: 300px;
  transition: border-color 2s;
}

.text-box {
  height: 120px;
}
